@model DYC_FinalYr_.Models.AddComplainInDatabaseTable

<h1>@ViewBag.msg</h1>
                

@using (Html.BeginForm("AddNewComplain","Complain",FormMethod.Post,new {enctype = "multipart/form-data"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @*<hr />*@
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.ComplainCataegory, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ComplainCataegory, new SelectList(ViewBag.list), "Select One", htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.ComplainCataegory)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ComplainArea, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ComplainArea, new SelectList(ViewBag.ComplainArea), "Select One", htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.ComplainArea)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RoadNumber, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RoadNumber, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.RoadNumber)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ComplainDeatils, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ComplainDeatils, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.ComplainDeatils)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Photo, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.Photo,, new { @class = "form-control"*@
                        <input type="file" id="imgfile" name="imgfile" class="btn btn-info">

                        @Html.ValidationMessageFor(model => model.Photo)
                    </div>
                </div>
            </div>
            @*<div class="col-md-12">*@
            <div class="form-group">
            @Html.LabelFor(model => model.ComplainerName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ComplainerName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ComplainerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContractNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ContractNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContractNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
            @*</div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default"/>
                </div>
            </div>
        </div>
        </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
    
    @*<h1> ComplainId : </h1>*@
    <h1> @ViewBag.msg2</h1>
    <h1> @ViewBag.ComplainId  </h1>
      

       
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
