@model IEnumerable<DYC_FinalYr_.Models.AddComplainInDatabaseTable>

@{
    ViewBag.Title = "ComplainList";
}

<h2>ComplainList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ComplainCataegory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplainArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoadNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplainDeatils)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplainerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainCataegory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoadNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainDeatils)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
            @*<img src="@Url.Content(modelItem => item.Photo)"/>*@
           

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
         
            @Html.ActionLink("UploadStatus", "UploadStatus", new { Id = item.Id }) |
         
        </td>
    </tr>
}

</table>
